<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="Access_Driver_ID" value="ODB"/>
    <add key="Address_Min" value="5"/>
    <add key="BingApiKey" value="AldnRH6Em67VBwSFmd4rYi2Fy8D-nTgi_qk8GLuWUoLMYQjOq033NmD-LNCt3i4g"/>
    <add key="BingStaticApiStreetURL" value="https://dev.virtualearth.net/REST/V1/Imagery/Map/Road/"/>
    <add key="BingStaticApiAerialURL" value="https://dev.virtualearth.net/REST/V1/Imagery/Map/AerialWithLabels/"/>
    <add key="City_Min" value="3"/>
    <add key="GPS_Min" value="6"/>
    <add key="LicenseKey" value=""/>
    <add key="GoogleApiKey" value=""/>
    <add key="GoogleStaticApiURL" value="https://maps.google.com/maps/api/staticmap?"/>
    <add key="MapsZoomHigh" value="18"/>
    <add key="MapsZoomMedium" value="16"/>
    <add key="MapsZoomLow" value="14"/>
    <add key="Oracle_Driver_ID" value="ORA"/>
    <add key="Param_DSN_Name" value="ROADNETDATA"/>
    <add key="Param_DSN_User" value="TSDBA"/>
    <add key="Param_DSN_Password" value="roadnet"/>
    <add key="Postal_Code_Min" value="8"/>
    <add key="SQL_Check_SCHEMA_Version" value="select CFG_VALUE from TSDBA.TS_CONFIG where CFG_VARIABLE='SCHEMAVERSION'"/>
    <add key="SQL_Min_Max_Date" value="select min(DATE_ADDED), max(DATE_ADDED) from TSDBA.TS_LOCATION"/>
    <add key="SQL_Driver_ID" value="SQL"/>
    <add key="SQL_Count_Locations" value="select count(REGION_ID) FROM TSDBA.TS_LOCATION where TYPE = 'SIT'"/>
    <add key="SQL_Select_Locations" value="select ID, DESCRIPTION, ADDR_LINE1, REGION1, REGION3, POSTAL_CODE, COUNTRY, LOCQUALITY, ALTERNATE_CONTACT, GEOCODE_VERIFIED, LATITUDE, LONGITUDE, DATE_ADDED from TSDBA.TS_LOCATION where TYPE = 'SIT'"/>
    <add key="SQL_Select_Regions" value="select REGION_ID, count(REGION_ID) from TSDBA.TS_LOCATION where TYPE = 'SIT' group by REGION_ID"/>
    <add key="SQL_Update_Locations" value="update TSDBA.TS_LOCATION"/>
  </appSettings>
</configuration>
